<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="col-md-7"><a href="/"><img src="static/images/C_Logo.png" alt="uncc logo" class="logo"></a></div>
            <div class="col-md-1"><li class="navli"><a href="/MyCourse">My Courses</a></li></div>
            <div class="col-md-1"><li class="navli"><a href="/MyGroups">My Groups</a></li></div>
            <div class="col-md-1"><li class="navli"><a href="/FindGroup">Find Group</a></li></div>
            <div class="col-md-1"><li class="navli"><a href="/CreateGroup">Create Group</a></li></div>
            <div class="col-md-1"><li class="navli"><a href="/Profile">Profile</a></li></div>
        </div>
        <div class="content">
            <!-- This is where the content will be rendered -->
            
        </div>
    </body>