/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
}

.box {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    width: 90%;
    margin: 5%;
    justify-content: center;
}

.course-frame {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    margin: 15px;
    height: 250px;
    width: 300px;
    /*box-shadow: #004F34 0px 2px 10px;*/
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px #d9d9d9 solid;
    border-radius: 10px;
    color: gray;
    cursor: pointer;
}

.course-frame:hover{
    background-color: #004F34;
    color: white;
}

.course-number {
    font-size: 2em;
}

.course-line {
    border-bottom: 1px #d9d9d9 solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.course-name {
    font-size: 1.2em;
}

.search-frame {
    display: flex;
    flex-direction: column;
}

.search-title {
    border: 1px black solid;
}

.search-select {
    border: 1px red solid;
}

#subjectSelect {
    height: 30px;
    padding: 5px;
    margin: 10px 10px 35px 10px;
    border-radius: 5%;
    display: flex;
    justify-content: flex-end;
    width: 18%;
    text-wrap: wrap;
}

#classSelect{
    height: 30px;
    padding: 5px;
    margin: 10px 10px 35px 10px;
    width: 60%;
}


#courseInformation {
    cursor: pointer;
}

#divForPost {
    min-height: 45%;
    align-items: center;
    margin: 10px;
    padding: 1%;
}

#divForStudySet {
    min-height: 45%;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

#divForGroup {
    min-height: 45%;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.course-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 39px;
}

/* Post */
.post-frame {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-top: 2%;
    cursor: pointer;
}

.post-frame:hover {
    background-color:#004F34;
    color: white;
}

.post-title {
    width: 65%;
    padding-left: 2%;
    border-bottom: 1px gray dotted;
    justify-content: center;
}

.post-username {
    width: 20%;
    font-size: 13px;
    border-bottom: 1px gray dotted;
    justify-content: center;
}

.post-time {
    width: 15%;
    font-size: 13px;
    border-bottom: 1px gray dotted;
    justify-content: center;
}

/* Group */
.group-frame {
    display: flex;
    justify-content: center;
    padding: 3%;
    flex-direction: column;
    margin: 15px;
    width: 100%;
    box-shadow: #004F34 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
}
.group-frame:hover {
    background-color:#004F34;
    color: white;
}

.group-row {
    display: flex;
    flex-direction: row;
}
.group-title {
    font-size: 1.5em;
    display: block;
    font-weight: bold;
}

.group-description {
    font-size: medium;
}

.group-course {
    font-style: italic;
}

.group-member {
    display: block;
    font-size: small;
}

#title {
    flex-grow: 1;
}

#description {
    flex-grow: 1;
}

#userName {
    flex-grow: 1;
}

#content {
    min-height: 300px;
    padding: 20px;
    width: 100%;
}

#postcontent {
    min-height: 300px;
    padding: 20px;
    width: 100%;
}

.studyset-frame{
    width: 95%;
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 1px gray dotted;
    border-radius: 10px;
}

.term {
    width: 20%;
    padding: 10px;
    
}

.definition {
    width: 80%;
    padding: 10px;
    border-left: 1px #d9d9d9 solid;
}


.course-search-frame {
    margin-top: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-search-row {
    width: 70%;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.searchText{
    width: 30%;
    padding-left: 10px;
    height: 100%;
    color: #ABB5BE;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.96px;
    word-wrap: break-word;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px #d9d9d9 solid;
}

#divForCourse {
    width: 80%;
    margin-top: 1%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.result-frame {
    display: flex;
    flex-direction: column;
    font: 12px;
}

.list-row-frame-title {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    border-radius: 10px;
    font-weight: bold;
    background-color: #A49665;
    height: 30px;
}

.list-row-frame {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    border-bottom: 1px #d9d9d9 solid;
    height: 35px;
}

.list-row-frame:hover {
    background-color: #004F34;
    color: white;
}

.list-subject {
    padding-left: 5px;
    width: 8%;
}

.list-coursenumber {
    padding-left: 5px;
    width: 10%;
}

.list-title {
    padding-left: 5px;
    width: 60%;
}




/* CSS For People tab */
#divForPeople {
    min-height: 45%;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.people-frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px #d9d9d9 solid;
    padding: 5px;
    align-items: center;
}

.people-title {
    font-weight: bold;
}

.people-picture {
    width: 6%;
    margin: 5px;
}

.people-name {
    width: 25%;
    margin: 5px;
}

.people-email {
    width: 25%;
    margin: 5px;
}

.people-activity {
    width: 7%;
    margin: 5px;
    text-align: right;
    padding-right: 15px;
}

.people-group {
    width: 7%;
    margin: 5px;
    text-align: right;
    padding-right: 15px;
}

.people-role {
    width: 15%;
    margin: 5px;
    text-align: center;
}

.people-select {
    padding: 5px;
}

.people-button {
    width: 80px;
    margin: 5px;
}

.block-button {
    width: 60px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: #802F2D;
    border-radius: 4px;
    border: 1px #d9d9d9 solid;
    display: flex;
}
.unblock-button {
    width: 60px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: #FEBE00;
    border: 1px #d9d9d9 solid;
    border-radius: 4px;
    display: flex;
}
.block-text{
    text-align: center;
    color: #F5F5F5;
    font-size: 12px;
    font-weight: 600;
    word-wrap: break-word;
}
