/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .box {
      flex-direction: column;
    }
}

.box {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    width: 90%;
    margin: 5%;
    justify-content: center;
}

.group-frame {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    margin: 15px;
    height: 250px;
    width: 400px;
    /*box-shadow: #004F34 0px 2px 10px;*/
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 1px #d9d9d9 solid;
    border-radius: 10px;
    color: gray;
    cursor: pointer;
}

.group-frame:hover{
    background-color: #004F34;
    color: white;
}

.group-name {
    font-size: 2em;
}

.group-def {
    font-size: 1.2em;
}

.group-members {
    font-size: 0.9em;
}

.group-line {
    border-bottom: 1px #d9d9d9 solid;
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-course {
    font-size: 1em;
}

.search-frame {
    display: flex;
    flex-direction: column;
}

.search-title {
    border: 1px black solid;
}

.search-select {
    border: 1px red solid;
}

#subjectSelect {
    height: 30px;
    padding: 5px;
    border: 1px gray solid;
    border-radius: 5%;
}

#classSelect{
    height: 30px;
    padding: 5px;
}

#groupInformation {
    cursor: pointer;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.group-title {
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 5px;
    font-size: 40px;
}

.group-course-name {
    padding-top: 29px;
    padding-left: 10px;
    padding-bottom: 19px;
    flex-grow: 1;
    font-size: 25px;
}

.group-table-row {
    margin-top: 20px;
    width: 100%;
}

.meeting-title {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 20px;
    flex-grow: 1;
}

.add-button {
    width: auto;
    height: 40px;
    margin: 0px 20px;
    padding: 8px 11px;
    background: #004F34;
    border-radius: 4px;
    align-items: right;
    display: flex;
    border: 1px #d9d9d9 solid;
}

.list-frame {
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px #d9d9d9 solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

span {
    margin-right: 5px;
}
