a {
    cursor: pointer;
}

body {
    font-family: Arial;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #004F34;
    z-index: 9999; /* To make navbar always on the top of everything */
}

.navli{
    list-style-type: none;
    width: 35px;
    height: 35px;
    text-decoration: none;
    color: #F8F9FA;
    font-size: 13pt;
    white-space: nowrap;
    position: absolute;
    top: 30%;
}

.logo{
    margin: 0;
    width: 70px;
    height: 70px;
}

.full-screen-image {
    background-image: url('../images/background_image.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 32px;
}

.buttons {
    background-color: #004F34;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
}

.study-group-buttons {
    display: flex;
    gap: 20px;
    margin-top: 15%;
    position: center;
}

.coursepage-display{
    width: 60%;
    text-align: left;
    margin-top: 5%;
    color: black;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    flex-grow: 1;
}

.coursepage-line{
    width: auto;
    border: 1px #A5AFB5 solid;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    align-items: center;
}

.course-title{
    margin-left: 3%;
    margin-top: 2%;
    text-align: left;
    color: black;
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
    text-decoration:none
}

.search-text{
    flex: 1 1 0;
    color:black;
    font-size: 24px;
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-bar{
    height: 36px;
    width: 100%;
    margin-top: 2%;
    margin-right: 3%;
    padding: 8px;
    background: #d9d9d9;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    width: 100%;
}

.search-pic{
    width: 28px;
    height: 28px; 
    display: flex;
}

.course-button{
    width: auto;
    height: 44px;
    margin-left: 2%;
    margin-top: 4%;
    margin-right: 5%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #004F34;
    border-radius: 4px;
    display: flex;
    border: 1px #d9d9d9 solid;
}

.course-text{
    text-align: center;
    color: #F5F5F5;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}

.posting-select{
    padding: 5px;
    margin: 5px;
    color: #343A40;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    word-wrap: break-word;
    align-items: center;
}
  
.select-selected {
    background-color: #004F34;
}

.posting-title-box{
    margin-top: 3%;
    margin-left: 0%;
    align-items: center;
}

.posting-title{
    text-align: left;
    color: black;
    background-color: white;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
}

.posting-input{
    color: black;
    border: none;
    background-color: transparent;
    outline: none;
}

.main-btn {
    width: 112px;
    height: 37px;
    padding: 10px 16px;
    background: #146c43;
    border-radius: 6px;
    border: 1px #146c43 solid;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
  }

  .study-box {
    width: 352px;
    height: 216px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    border: 1px #28a745 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .study-box-header {
    align-self: stretch;
    height: 56px;
    padding: 16px 24px;
    background: #f8f9fa;
    border-bottom: 1px #dee2e6 solid;
  }

  .study-box-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

.inter-font {
    word-wrap: break-word;
    width: 302px;
    height: 49px;
    color: #28a745;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

.wrapper {
    display: flex;
  }
  
#v-pills-tab .nav-link{
    font-size: large;
}

#v-pills-tab .nav-link:hover{
    background-color: #d9d9d9;
}
  
.btn-outline {
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0;
    border: 1px solid #146c43;
    background-color: #146c43;
    cursor: pointer;
    color: #ffffff;
}

#groupName {
    margin: 2%;
}

.group-members{
    border: 1px #d9d9d9 solid;
    padding: 2%;
    border-radius: 10px;
    margin: 2%;
}

.picture {
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

#memberList {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5%;
    border-radius: 5%;
}

.member-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    border-bottom: 1px #d9d9d9 solid;
}

.member-name {
    flex-grow: 1;
    font: 15px;
}

.picture-frame {
    width: 100px;
}

.follow-button {
    width: auto;
    height: 40px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #004F34;
    border-radius: 4px;
    align-items: right;
    display: flex;
}

.group-details {
    border: 1px #d9d9d9 solid;
    padding: 2%;
    border-radius: 10px;
    margin: 2%;
}

.next-meeting {
    border: 1px #d9d9d9 solid;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
}

.table-data {
    margin: 6px 3px;
    padding: 5px;
    border: 1px #d9d9d9 solid;
    border-radius: 5px;
}

.empty-div {
    flex-grow: 1;
}

.table-row {
    display: flex;
    flex-direction: row;
}

.table-label {
    margin: 6px 3px;
    padding: 5px;
    width: 70px;
    border: 1px gray solid;
    border-radius: 5px;
    background-color: #d9d9d9;
    font-weight: bold;
}

.available-frame {
    margin: 5px;
    padding: 5px;
}

.time-start {
    margin-left: 20px;
    width: 45px;
}

.time-end {
    width: 45px;
}

.save-button{
    width: auto;
    height: 44px;
    margin-left: 2%;
    margin-top: 4%;
    margin-right: 2.2%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FEBE00;
    border-radius: 4px;
    align-items: right;
    display: flex;
    border: 1px #d9d9d9 solid;
}

.save-text{
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}

.available-frame {
    margin: 10px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
}

.meeting-select {
    padding: 8px;
}

.available-people {
    margin-left: 2%;
    font-size: 13px;
    color: blue;
    font-style: italic;
}

.location {
    padding: 5px;
    margin-left: 5px;
}

/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d9d9d9;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-container input:checked ~ .checkmark {
    background-color: #004F34;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

.instructor {
    background-color: #FEBE00;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.help-mark {
    background-color: white;
    margin-left: 5px;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.tutorial-frame{
    margin: 0;
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 999999;
}

.tutorial {
    border: 3px #004F34 solid;
    border-radius: 5px;
    width: 80%;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
}

.tutorial-close {
    width: 100%;
    height: 40px;
    align-items: right;
    justify-content: right;
    text-align: right;
}

.page-image {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}